.resources{
    margin-top: 100px;
    /*border: 3px solid red;*/
  }
  
  .resources__logo-zone{
    display: flex;
    margin: 80px auto 217px;
    width: 1100px;
    /*border: 3px solid red;*/
  }
  
  .resources__link{
    width: 270px;
    height: 38px;
    /*border: 3px solid rgb(0, 0, 0);*/
  }