@import url(../../sections/section-subtitle/_theme/section-subtitle_theme_dark.css);

.section-subtitle{
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    /*border: 3px solid rgb(10, 228, 64);*/
  }

