.header {
    position: relative;
    overflow: hidden;
    background-color:  #f2f2f2;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    padding-left: 64px;
    display: flex;
    z-index: 0;
  }

  .logo_place_header{
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 1;
  }

  .header__title{
    align-self: center;
    width: 730px;
    margin: 0;
    line-height: 96px;
    font-size: 102px;
    font-weight: 600;
    z-index: 1;
    /*border: 3px solid red;*/
  }

  .header__subtitle{
    position: absolute;
    max-width: 388px;
    margin: 0;
    left: 64px;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    z-index: 1;
  }
  
  .header__link{
    text-decoration: none;
    color: #2f80ed;
  }
  
  .header__main-illustration{
    position: absolute;
    object-fit: fill;
    width: 765px;
    height: 608px;
    bottom: 0;
    right: 0;
  }
  
  .header__square-pic {
    position: absolute;
    height: 568px;
    width: 568px;
    top: 64px;
    right: 0;
    z-index: -1;
    background-color: #2f80ed;
  }