.cards__item{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 100px;
    padding-top: 60px;
    list-style: none;
    /*border: 3px solid rgb(244, 48, 9);*/
  }
  
  .cards__item:nth-child(3n+3){
    margin-right: 0;
  }