.section-title{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
    /*border: 3px solid rgb(10, 228, 64);*/
  }
  
  .section-subtitle{
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    /*border: 3px solid rgb(10, 228, 64);*/
  }