.header__link:hover{
   opacity: 0.5;
   transition: opacity 1s;
  }

.feynman__link:hover{
  opacity: 0.5;
  transition: opacity 1s;
}

.khan__buy-link:hover{
  opacity: 0.5;
  transition: opacity 1s;
}

.resources__link:hover{
  opacity: 0.5;
  transition: opacity 1s;
}

.footer__column-link:hover{
  opacity: 0.5;
  transition: opacity 1s;
}