.footer{
    box-sizing: border-box;
    padding-top: 60px;
    min-height: 350px;
    background-color: #1F1F1F;
    /*border: 3px solid rgb(252, 245, 245);*/
  }
  
  .footer__columns{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 250px;
    margin: 0 auto 40px;
    width: 90%;
    /*border: 3px solid rgb(232, 220, 220);*/
  }
  
  .footer__column_content_copyright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 711px;
    
    /*border: 3px solid red;*/
  }
  
  .logo__place_footer{
    width: 228px;
    height: 32px;
  }
  
  .footer__author{
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    /*border: 3px solid rgb(238, 227, 227);*/
  }
  
  .footer__column-heading{
    margin-top: 0;
    margin-bottom: 20px;
    width: 123.95px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #f2f2f2;
    /*border: 3px solid rgb(232, 220, 220);*/
  }
  
  .footer__column_content_social{
    display: flex;
    flex-direction: column;
    /*border: 3px solid red;*/
  }
  
  .footer__column-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90px;
    margin-bottom: 16px;
    /*border: 3px solid rgb(36, 22, 224);*/
  }
  
  .footer__column-link{
    display: flex;
    flex-direction: row;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    /*border: 3px solid rgb(191, 229, 20);*/
  }
  
  
  .footer__social-icon{
    
    margin-right: 10px;
    width: 16px;
    height: 16px;
    /*border: 3px solid red;*/
  }