  
  .video__iframes{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 50px auto -50px;
    /*border: 3px solid red;*/
  }
  
  .video__iframe{
    border: none;
    width: 516px;
    height: 316px;
  }
  
  .video__iframe:first-child{
    margin-right: 20px;
  }